Flask==1.0.2
Flask-Cors==3.0.7
Werkzeug==0.14.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
backports.os==0.1.1
numpy==1.16.2
numpydoc==0.8.0
Pillow==5.4.1
imagesize==1.1.0
tensorboard==1.12.2
tensorflow==1.15.2